# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
venv/
.venv/

# Environment Variables
.env

# Model Files
*.pkl

# Data Files (optional)
*.csv

# OS Files
.DS_Store
Thumbs.db

# Streamlit
.streamlit/

# Logs
*.log